body{
    margin:0;
}
.menu-section{
    display:flex;
    justify-content:center;
    
}
.menu{
    /* height:100px; */
    margin: 3em 8em;
    width:80%;
    display:inline-flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;


    background: black;
    color: white;
    border-radius: 2em;
    border: 1px solid #446d88;
    box-shadow: 0 .05em .25em gray;
    text-shadow: 0 -.05em .05em #335166;
    padding: .3em .8em;
}
.logo-img{
    padding: .3em .8em;
    margin: .3em .8em;
    margin-left: 0;
}
.menu-1{
    
    /* width:600px; */
    height:44px;
    display:inline-flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:flex-start;
    justify-content:center;


    /* background: white; */
    /* color: black; */
    /* border-radius: 2em;
    border: 1px solid #446d88;
    box-shadow: 0 .05em .25em gray;
    text-shadow: 0 -.05em .05em #335166; */
    margin: .3em .8em;
    
}
.menu-1 .menu-item:first-child{
    background: #fc5531;
    color: white;
    border-radius: 2em;
    border: 1px solid black;
    box-shadow: 0 .05em .25em gray;
    text-shadow: 0 -.05em .05em #335166;
}
.menu-2{
    border:1px solid black;
    /* width:600px; */
    height:44px;
    display:inline-flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:flex-start;
    justify-content:center;


    background: white;
    color: black;
    border-radius: 2em;
    border: 1px solid black;
    box-shadow: 0 .05em .25em gray;
    text-shadow: 0 -.05em .05em #335166;
    margin: .3em .8em;
    margin-right:0;
    
}
.menu-item{
    /* width:50px; */
    /* height:50px; */
    /* border:1px dashed red; */
    font-size: 125%;
    line-height: 1.5;
    padding: .3em .8em;
}

.banner{
    display:flex;
    justify-content:center;
}
.banner-flex{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    /* align-items:center; */
    /* align-content: center; */
    max-width: 1376px;
}

h1{
    font-size:48px;
    line-height:1.1em;
    font-family: ivar text, Sans-serif;
    text-align:center;
    margin-bottom:16px;
}

.sub-h1{
    font-size:16px;
    font-family: ivar text, Sans-serif;
    text-align:center;
    font-weight: 400;
line-height: 1.6em;
}

.background{
    height:700px;
    background-image:url("Orange-BackgrounPaper.jpg");
    background-size:cover;

}

.cards{
    /* border:1px solid black; */
    /* height:300px; */
    padding:0 130px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    
}
.cards div{
    height:230px;
    width:380px;
    /* border: 1px dashed purple; */
    
    border-radius:1em;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}


.works-row{
    padding:0 0 140px 0;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
}

.works-img{
    /* display: inline-block; */
    
}

.works-img img{
    max-width: 1000px;
}
.works-text{
    display:inline-block;
    max-width: 500px;
}

.section{
    padding:140px 140px;
}

.section-card{
    padding:140px 0;
}

.section-header{
    padding:0 0 20px 0;
}


.header-content-space{
    height:50px;
}